* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: #f4f7fc;
}

.navbar {
    background: #1e3a8a;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.container {
    width: 90%;
    margin: auto;
    padding: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 15px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid #ddd;
}

.table th {
    background: #2563eb;
    color: white;
}

.dashboard-box {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    background: #2563eb;
    color: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.center {
    text-align: center;
    margin-top: 100px;
}